<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1, maximum-scale=1"> 
		<title>Double Double</title>
	</head>
	<body>
	
		<div class="col-lg-4 websiteTitle">
			<h3> Double Double </h3>
		</div>

		<%= form_for(resource, as: resource_name, url: session_path(resource_name), :html => {:class => "sign_in_form col-lg-6"}) do |f| %>
 			<div class="field">
    			<%= f.label :email, class: "email_label" %>
    			<%= f.email_field :email, autofocus: true, class: "email_field" %>
  			</div>

  			<div class="field">
    			<%= f.label :password %>
    			<%= f.password_field :password, autocomplete: "off", class: "pass_field" %>
  			</div>

  			<% if devise_mapping.rememberable? -%>
    			<div class="field remember_me">
      				<%= f.check_box :remember_me %>
      				<%= f.label :remember_me %>
    			</div>
  			<% end -%>

  			<div class="actions">
    			<%= f.submit "Log in" %>
  			</div>
		<% end %>
		<div class="shared_links col-lg-2">
			<%= render "users/shared/links" %>
		</div>
	</body>
</html>