<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1, maximum-scale=1"> 
		<title>Double Double</title>
	</head>
	<body>
		<!-- Header -->
		<div class="container">
			<div class="banner">
				<div class="row">
					<div class="col-xs-12 websiteTitle">
						<h1>Double Double</h1>
					</div>
				</div>
			</div>
		</div>

		<%= form_for(resource, as: resource_name, url: session_path(resource_name), :html => {:class => "sign_in_form col-xs-12"}) do |f| %>
 			<div class="field">
    			<%= f.label :email %><br />
    			<%= f.email_field :email, autofocus: true, class: "email_field" %>
  			</div>

  			<div class="field">
    			<%= f.label :password %><br />
    			<%= f.password_field :password, autocomplete: "off" %>
  			</div>

  			<% if devise_mapping.rememberable? -%>
    			<div class="field">
      				<%= f.check_box :remember_me %>
      				<%= f.label :remember_me %>
    			</div>
  			<% end -%>

  			<div class="actions">
    			<%= f.submit "Log in" %>
  			</div>
		<% end %>
		<div class="shared_links">
			<%= render "users/shared/links" %>
		</div>
	</body>
</html>