<%= form_for @drink, :html => {:class => "new_drink_form col-xs-12"} do |f| %>
  <div class="drink_size_radio_buttons">
    <%= f.radio_button :size, "small", class: "radio_button" %>
    <%= f.label :size_small, "Small" %>

    <%= f.radio_button :size, "medium", class: "radio_button" %>
    <%= f.label :size_medium, "Medium" %>

    <%= f.radio_button :size, "large", class: "radio_button" %>
    <%= f.label :size_large, "Large" %>

    <%= f.radio_button :size, "other", class: "radio_button" %>
    <%= f.label :size_other, "Other" %>
  </div>

  <div class="drink_location_radio_buttons">
    <%= f.radio_button :location, "tims", class: "radio_button" %>
    <%= f.label :location_tims, "Tims" %>

    <%= f.radio_button :location, "starbucks", class: "radio_button" %>
    <%= f.label :location_starbucks, "Starbucks" %>

    <%= f.radio_button :location, "williams", class: "radio_button" %>
    <%= f.label :location_williams, "Williams" %>

    <%= f.radio_button :location, "other", class: "radio_button" %>
    <%= f.label :location_other, "Other" %>
  </div>

    <div class="actions">
      <%= f.submit "Add" %>
    </div>

<% end %>